


body
{
    border:black solid 2px;
    background-color: white;
    text-align:center;
    padding: 5px;
}

.container
{
  
    /* width: 640px; */
    /* border: slateblue dotted 1px; */
    /* margin: 0; */
    padding: 15px 10px;

    /* 會繼承的設定 */
    background-color: black;
    color:white;
   
}

.header
{
    background-color: green;

    width: 100%;
/* 設定後整個區塊右側會缺一塊(跟margin衝突)，只能以auto屬性置中*/
    position: fixed;
/* 設定後整個區塊會往右偏移 */
    top: 0;
    left: 0;
/* 設定完後會滿版，但整個區塊會往上偏移，需調整margin:top+bottom */
}


.footer
{
    background-color: green;
    
    width: 100%;
/* 設定後整個區塊右側會缺一塊，只能以auto屬性置中*/
    position: fixed;
/* 設定後整個區塊會往右偏移 */
    bottom: 0;
    left: 0;

    /* justify-content: space-between;  */
} 


img
{
    border: 0;
    max-width: 30%;
    height: auto;
}


.head-nav,.middle,.middle-right
{

    /* 有設定就會變成展開框(理由未知)，沒有就是3個按鈕 */
    /* width: 580px; */

    border: slateblue dotted 1px;
    margin: 50px auto;
    padding: 15px 30px;

}

/* .ad,.nav
{
display: flex;
justify-content: center;
}

*/








