


body
{
    border:black solid 2px;
    background-color: white;
    /* text-align:center; */
    padding: 5px;
}

.container
{  
    max-width: 980px;
/* 加上max之後不會超出 */
    margin:0px auto;
    padding: 10px;

    /* 會繼承的設定 */
    background-color: #424874;
    color:white;
}

.header
{
    width: 100%;
    height: 15vh;
    /* position: fixed;
    top: 0;
    left: 0; */
/*  外面包住的div(這次是container)如果有設定padding，內容寬度會因此縮小，直接影響到其中的div
（例如設定width=100%時，實際寬度不會超過padding）；如果div設定了margin負值則會整個偏掉 */
}

.back
{
    height: 100%;
    background-color: white;
}

.logo
{
    /* width: 50%; */
    text-align:center;
    height: 100%;
}


.logo-img
{
    max-height: 100%;
}


/* .footer
{
    background-color: #424874; 
    width: 100%;
    /* position: fixed;
    bottom: 0;
    left: 0; */

    /* justify-content: space-between;  
}  */


/* .ad, */
.nav
{
    display: flex;
    /* justify-content: center; */
}

/* ,.middle,.middle-right */
.head-nav
{
    /* 有設定就會變成展開框(理由未知)，沒有就是3個按鈕 */
    width: 33.33%;
    text-align:center;
    background-color: #BD93BD;
 
    /* margin: 0px auto; */
    /* padding: 15px; */
}

.slide
{
    max-width: 980px;
    height: 50vh;
    margin-top: 2px;
    /* 暫時 */
    border: #F2E9DC double 3px;
}
    
.sam
{
    max-width: 100%;
    
}

                                                                                                   








