


body
{
    border:black solid 2px;
    background-color: white;
    /* text-align:center; */
    padding: 2px;
}

.container
{  
    /* width: 100%; */
    max-width: 980px;
    /* 加上max之後不會超出 */
    margin:0px auto;
    /* padding: 1px; */

    /* 會繼承的設定 */
    background-color: #424874;
    color:white;
}

.header
{
    width: 100%;
    height: 15vh;
    /* position: fixed;
    top: 0;
    left: 0; */
/*  外面包住的div(這次是container)如果有設定padding，內容寬度會因此縮小，直接影響到其中的div
（例如設定width=100%時，實際寬度不會超過padding）；如果div設定了margin負值則會整個偏掉 */
}

.back
{
    height: 100%;
    background-color: white;
    text-align:center;
}

.logo
{
    /* width: 50%; */
    /* text-align:center; */
    height: 100%;
}


.logo img
{
    /* vertical-align: middle; */
    max-height: 100%;
}



.nav{
    display: flex;
}

/* ,.middle,.middle-right */
.item{
    /* 有設定就會變成展開框(理由未知)，沒有就是3個按鈕 */
    width: 33.33%;
    margin: 5px;
    text-align:center;
    background-color: #BD93BD;
 
    /* margin: 0px auto; */
    /* padding: 15px; */
}


.news{
    width: 100%;
    /* position: absolute;
    display: flex;
    justify-content: center; */
}

label{
    /* border: 2px solid #40D3DC;
    padding: 5px; */
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

@media screen and (min-width: 768px)
{
    .banner,.middle{
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
    }

    .header{
        width: 85%;
    }

    .back{
        background-color: #424874;
        margin-right: 50%;
    }

    .nav{
        display: block;
        width: 15%;
        /* text-align: center; */
    }

    .item{
        width: 50%;
        border-radius: 59em;
        margin-left: 25%;
    } 

    .middle{
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        /* flex-wrap: nowrap; */
    }

    .news,.ad
    {
        width: 50%;
    }
}



.slider
{
    max-width: 980px;
    height: 70vh;
    overflow: hidden;
    /* margin-top: 2px; */
    /* 暫時 */
    /* border: #F2E9DC double 3px; */
    /* position: relative;     */
}


.slides{
    /* 設定為跑馬燈的5倍寬度，並排排列 */
    width: 400%;
    height: 100%;
    display: flex;
    
  }
  
  .slides input{
    /* 藏起來 */
    display: none;
  }
  
  .slide{
    /* 為slides的20%=寬度100% */
    width: 25%;
    transition: 2s;
    /* 自己加的置中 */
    text-align: center;
  }
  
  /* .slide img{
    width: 530px;
    height: 530px;
  } */
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    left:0;
    right:0;
    /* margin-left: auto;
    margin-right: auto; */
    max-width: 100%;
    /* margin-top: -20px; */
    display: flex;
    /* 使用flex讓label標籤可並排 此時label會變回原本的正方形=圓角處理後為圓形 而非長橢圓形 */
    justify-content: center;
  }
  
  .manual-btn{
    opacity: 0.3;
    max-width: 33.33%;
    max-height: 50px;
    overflow: hidden;
    /* border: 2px solid #40D3DC; */
    /* padding: 5px; */
    border-radius: 10px;
    /* 圓角 */
    cursor: pointer;
    /* 游標指向時樣式 */
    transition: 1s;
    /* 轉場漸變效果&秒數 */
  }
  
  /* 選擇器：所有m...元素(除了最後一個) */
  .manual-btn:not(:last-child){
    margin-right: 70px;
    /* 手動按鈕的右邊間距 */
  }
  
  .manual-btn:hover{
    opacity: 1;
  }
  

  /* 使用~選擇器，當input(id=radio)被選取時，
  移動其後的div(class=first)，移動方式為負數左邊間距(形同左移) */
  #radio1:checked ~ .first{
    margin-left:
    0;
  }
  #radio2:checked ~ .first{
    margin-left: -25%;
  }
  #radio3:checked ~ .first{
    margin-left: -50%;
  }
  #left:checked ~ .first{
    margin-right: 25%;
  }
  #right:checked ~ .first{
    margin-left: 25%;
  }

  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    left:0;
    right:0;
    display: flex;
    max-width: 100%;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
/* 上段：第5個slide位置和外型設計(調整到跟label相同並疊上去)
下段：~選擇器，radio被點選時，相對應的按鈕背景變色
（就是做一套專門給自動輪播用的按鈕，照樣變色） */

  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }

  

.sam
{
    width: 100%;
    height: auto;
}

.slider-arrow
{
    /* z-index: 0; */
    max-width: 980px;
    height: 15%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

#prev
{
    text-align: left;
    position: absolute;
    left: 18%;
    bottom: 45%;
    width: 100%;
}


#next
{
    text-align: right;
    position: absolute;
    right:18%;
    bottom: 45%;
    width: 100%;
}

#left,#right
{
    max-width: 50px;
    max-height: 70px;
}









/* .footer
{
    background-color: #424874; 
    width: 100%;
    /* position: fixed;
    bottom: 0;
    left: 0; */

    /* justify-content: space-between;  
}  */


/* .ad, */





